.chat-btn(
  *ngIf="!isChina || !isMobile",
  [class.active]="isOpen$ | stream",
  [class.btn-loading]="isLoading && (isOpen$ | stream)",
  (click)="toggle()",
  (mouseenter)="shouldPreload && preloadChat()"
)
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49")
    path(d="m34.339041,7.990202l10.957411,-7.72059l-0.782669,8.33824q2.054517,0.92647 3.277438,2.83088t1.222921,4.375l0,25.63237q0,3.29412 -2.152351,5.55883t-5.185204,2.26471l-34.339757,0q-3.032854,0 -5.185204,-2.26471t-2.152351,-5.55883l0,-25.63237q0,-3.29412 2.152351,-5.55883t5.185204,-2.26471l27.002202,0l0,0l0.00001,0.00001zm-22.110499,16.57354q-1.467515,0 -2.543685,1.18382t-1.07617,2.88235t1.07617,2.88235t2.592602,1.18382t2.592602,-1.18382t1.07617,-2.88235t-1.07617,-2.88235t-2.641519,-1.18382l0,0zm12.229258,0q-1.467515,0 -2.543685,1.18382t-1.07617,2.88235t1.07617,2.88235t2.592602,1.18382t2.592602,-1.18382t1.07617,-2.88235t-1.07617,-2.88235t-2.641519,-1.18382l0,0zm12.327092,0q-1.565349,0 -2.641519,1.18382t-1.07617,2.88235t1.07617,2.88235t2.592602,1.18382t2.592602,-1.18382t1.07617,-2.88235t-1.07617, -2.88235t-2.543685,-1.18382l0,0z" fill="white" transform="rotate(-179.688 24.5067 24.7696)")
