vui-select(
  #select="",
  [placeholder]="placeholder",
  [default-first]="defaultFirst",
  [multiple]="multiple",
  [status]="status",
  (vuiSelect)="onChange($event.detail)",
)
  div(slot="options")
    ng-content
