vui-input(
  #input="",
  [type]="type",
  [placeholder]="placeholder",
  [disabled]="disabled",
  [readonly]="readonly",
  [size]="size",
  [status]="status",
  [mask]="mask",
  (vuiInput)="onChange($event.detail)",
  (vuiFocus)="onTouch()",
)
